[Unit]
Description=Genomic Data Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/genomic_data_service
ExecStart=GENOMIC_DATA_SERVICE_SETTINGS=../config/production.cfg gunicorn -w 4 --bind unix:genomic.sock -m 007 wsgi:app
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target